*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    overflow-x: hidden;
}

#main{
    height: 100%;
    width: 100%; 
    background-color: lightblue;
    background-image: url(https://images.unsplash.com/photo-1590674639208-5b18282d04e5?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fGNsb3VkfGVufDB8fDB8fHww  );
    background-size:cover ;
    background-position: center;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 50px;
    color : #fff;
}

#nav h2{
    font-size: 30px;
}

#nav i {
    font-size: 30px;
    font-weight: 800;
    cursor : pointer;
}

#full{
    height : 100%;
    width: 40%;
    position: absolute;
    background-color: #ffffff8c;
    top: 0;
    right: -40%;
    padding: 150px 50px;
    backdrop-filter: blur(10px);
    cursor: pointer;
}

#full h4{
    font-size: 50px ;
    font-weight: 500;
    margin-bottom: 10px;
}

#full i {
    position: absolute;
    top: 5%;
    right: 10%;
    background-color: #fff;
    border-radius: 50px;
    padding : 5px;
    font-weight: 600;
    font-size: 25px;

}